.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .loading {
    background-image: url("../assets/spin.png");
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    animation: rotating 2s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
