@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply resize-none border rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500;
  @apply disabled:cursor-not-allowed;
}

.code {
  @apply border rounded-lg p-3 overflow-auto;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  .loading {
    background-image: url('../assets/spin.png');
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    animation: rotating 2s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.docx-wrapper {
  background: #ccc !important;
  padding: 0 !important;
  padding-bottom: 0px;
  display: block !important;
  align-items: center;
}

.code-area {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 12px;
  min-height: 60vh;
  background: #1f1f1f;
  word-break: break-word;
  white-space: break-spaces;
  color: #5af117
}